body {
	padding-top: 70px;
	vertical-align: middle;
	max-width: 100%;
}

.starter-template {
	padding: 15px 15px;
	text-align: center;
}

#map {
	position: absolute;
	top: 61px;
	bottom: 50px;
	left: 0px;
	right: 0px;
}

#canvas {
	margin-top: 50px;
	margin-bottom: 50px;
}

*:focus {outline:none;} 

.img {
	vertical-align: middle !important;
}

.btn-link {
	color: #e5626c !important;
}

.navbar-inverse .navbar-nav > li > a {
	color: #e5626c !important;
}

.btn:hover,
.btn:focus {
	color: #2ecc71 !important;
	text-decoration: none;
}

.navbar-nav {
	vertical-align: middle;
	height: 10%;
	vertical-align: middle !important;
}

.navbar-fixed-top {
	max-height: 61px !important;
	height: px !important;
	vertical-align: middle !important;
}

.navbar-brand {
	float: none !important;
}

.navbar-collapse {
	max-height: 50px !important;
}

.navbar-ex1-collapse {
	max-height: 50px !important;
}

.navbar-header {
	max-height: 61px !important;
}

.navbar-toggle {

	padding: 0px 0px !important;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 5px;
}

#themes a
{
	border-top: 1px solid #ccc;
	text-decoration: none;
	display: block;
	padding: 10px 20px 10px 55px;
	margin: 0 -20px;
	position: relative;
}

#themes a:first-child {
	border-top: none;
}

#themes a:before {
	content: '';
	border: 1px solid #111;
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 20px;
}

#themes a.dark:before {
	background: #333;
}

#themes a.light:before {
	background: #f3f3f3;
}

#themes a.army:before,
html.army .mm-menu {
	background: #332;
}

#themes a.navy:before,
html.navy .mm-menu {
	background: #323849;
}

#themes a.bordeau:before,
html.bordeau .mm-menu {
	background: #422;
}

.Selected {
	background: gray;
}

#menu ul {
	padding-top: 90px;
}

#about-pane {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.75);
	z-index: 100000;
}

#about-inner {
	background: #EDEDEF;
	width: 500px;
	height: 525px;
	margin: auto;
	padding-left: 20px; 
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

}

#about-close {
	width: 500px;
	text-align: right;
	display: block;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 10px;
	color: #ffffff;
	font-weight: bold;
}

hr {
	display: block;
	height: 1px;
    border: 0;
    border-top: 1px solid #B6B6B4;
    color: #B6B6B4;
    margin: 1em 0;
    padding: 0;
}