body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

#map {
	position: absolute;
	height: 700px;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
}

#themes a
{
	border-top: 1px solid #ccc;
	text-decoration: none;
	display: block;
	padding: 10px 20px 10px 55px;
	margin: 0 -20px;
	position: relative;
}

#themes a:first-child {
	border-top: none;
}

#themes a:before {
	content: '';
	border: 1px solid #111;
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 20px;
}

#themes a.dark:before {
	background: #333;
}

#themes a.light:before {
	background: #f3f3f3;
}

#themes a.army:before,
html.army .mm-menu {
	background: #332;
}

#themes a.navy:before,
html.navy .mm-menu {
	background: #323849;
}

#themes a.bordeau:before,
html.bordeau .mm-menu {
	background: #422;
}

.Selected {
	background: #000000;
}

#menu ul {
	padding-top: 51px;
}

a.navbar-toggle{
	color: #999999;
}